

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<style>
    .container {
        background-image: url('https://www.restaurant.bg/img/entities/5459/1bulgaria944.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
</style>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Tasteful Treats</h1>
        <p>Savor the finest flavors at Tasteful Treats. Explore our meticulously crafted menu, a symphony of culinary delights sure to tantalize your taste buds. View our menu and embark on a gastronomic journey like no other.</p>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Menu">View Our Menu</a>
    </div>
</div>



