<div class="modal fade" id="findLocationModal" tabindex="-1" aria-labelledby="findLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="locationModalContent">
            <div class="modal-header" id="locationModalHeader">
                <h5 class="modal-title" id="findLocationModalLabel">Our Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="locationModalBody">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.225254930139!2d-74.00297082346374!3d40.73506873620226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25997516afe75%3A0x80bb15d09be7a4ee!2sAmerican%20Bar%20-%20New%20York!5e0!3m2!1smk!2smk!4v1727788551696!5m2!1smk!2smk" width="600" height="450" style="border:0;" allowfullscreen="false" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

<style>
    #locationModalHeader {
        color: black;
    }

    #locationModalContent {
        width: 600px;
        max-width: 100%; 
    }

    #locationModalBody {
        height: 450px;
        overflow-y: auto;
    }
</style>
